doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    meta(property="og:title" content="AVC Fashion Design Consultancy")
    meta(property="og:description" content="Fashion design consultancy and tailoring services")
    meta(property="og:type" content="website")
    meta(property="og:image" content="../img/favicon.png")

    link(rel="shortcut icon" href="../img/favicon.png" type="image/x-icon")
    title AVC Fashion Design Consultancy
    include ../includes/gtm.pug

