extends ../includes/main

block body
    section.container.container--main
        .container__content
            .outer-links-container
                a.outer-link.outer-link--active(href="/") Home
                | &nbsp; / &nbsp;
                a.outer-link(href="our_team.html") Our team
            h3.container__title Our Team
            .teammate
                .teammate__photo-block
                    img.teammate__image(src="../img/our_team/anna.png")
                .teammate__text-block
                    .teammate__about-self-container
                        .teammate__about-self
                            h5.teammate__initials Anna V Chernyshova
                            p.teammate__job Design and Production Director
                    .teammate__description Anna V, fashion and textile designer with more than 10 years experience in fashion and art industry,
                        | specializing in collection building and pattern making. She has coordinated more than 70 brand positioning concepts
                        | and foundations in Couture, Pret’-a-Porter’ and mass market, as well as completed a big brand collection project for Tiffany&Co.
                        <br/>
                        | Anna V is a managing partner at 3 textile shops located in the Rostov region, Russia.
            .teammate
                .teammate__photo-block
                    img.teammate__image(src="../img/our_team/leanne.png")
                .teammate__text-block
                    .teammate__about-self-container
                        .teammate__about-self
                            h5.teammate__initials Leanne Walper
                            p.teammate__job Fashion Business and Strategic Management Director
                    .teammate__description Leanne is a business professional having worked for 10 years in Canada and the United Arab Emirates,
                        | skilled in strategic management, leadership, and Human Resources Management, focusing in the fashion industry.
                        | Leanne has worked in fashion retail as the Director of Brand & People of a large fashion Boutique in Calgary, Canada.
                        | During her time there, she oversaw and impacted various areas of the business including: Human Resources, Marketing, Accounting,
                        | Operations, Sales & Fashion Styling and Creative. Recently Leanne managed a Fashion institute in Dubai where she oversaw
                        | all aspects related to operating a fashion/education business. She managed all operations of the business, including
                        | reviewing curriculum, hiring exceptional fashion professionals as tutors, organizing photo shoots and directing creatives,
                        | and handling sales and admissions. Leanne is a business woman with a sparkle and love for fashion!
            .teammate
                .teammate__photo-block
                    img.teammate__image(src="../img/our_team/danah.png")
                .teammate__text-block
                    .teammate__about-self-container
                        .teammate__about-self
                            h5.teammate__initials Danah AlZaman
                            p.teammate__job Senior Fashion Designer
                    .teammate__description Danah, a fashion designer known for draping, layering and contrasting.
                        | She was born in Saudi Arabia Eastern Province. Worked in Amber Feroz fashion house, has experience
                        | in fashion retail and conceptual filmmaking. Danah was one of the semi-finalists in Project Runway Middle East along
                        | with the main judge Elie Saab. She created her label in the late 2016. It is based on deconstructed ready-to-wear
                        | contemporary clothing, but in a way that’s much edgier, moodier, and avant-garde.
                        | Every collection she creates is based on social abs theoretical concepts that influence every piece.
            .teammate
                .teammate__photo-block
                    img.teammate__image(src="../img/our_team/liubov.png")
                .teammate__text-block
                    .teammate__about-self-container
                        .teammate__about-self
                            h5.teammate__initials Liubov Tonkikh
                            p.teammate__job Senior Fashion Illustrator
                    .teammate__description Liubov is graphic and fashion designer highly experienced in clo3d specializing in 3D fashion design and technical illustration.
                        |  A current fashion illustration tutor at Romper Fashion School, Moscow, Russia.
            .teammate
                .teammate__photo-block
                    img.teammate__image(src="../img/our_team/amir.png")
                .teammate__text-block
                    .teammate__about-self-container
                        .teammate__about-self
                            h5.teammate__initials Amir Sebai
                            p.teammate__job Production Director / E-commerce fashion consultant.
                    .teammate__description Amir, the founder of Dubai-based street fashion brand Kanzeh.net, has an interior & graphics design background.
                        | Yet he switched his career to fashion industry building an online platform selling T-shirts and hoodies featuring Arabic calligraphy
                        | and pop-culture references, he also created a platform where the user can customize an item without any human interaction. A lifestyle
                        | journal called his brand “The Label Of Arabia”.
                        <br/>
                        | Amir is specialized in setting production and supply chains, mentoring fashion start ups social media marketing strategies and E-commerce in general.
